## Project Challenge: Exploratory and predictive analytics upon the comprehensive IMDb data of movies released between 1980-2020

### **_by Hanlu He (s183909), Mia Hang Knudsen (s183998), Jiafei Xia (s213084), Atefeh Hemmati Golsefidi (s216676)_**
---
## _Notebook 1/2: Exploratory analysis of data_
---
## Table of Contents
- [Part 1: <u>Introduction</u>](#intro)
- [Part 2: <u>Data analysis and visualisation</u>](#datavis)
    - [2.1: <u>Load and present basic information of the dataset</u>](#load)
    - [2.2: <u>Dicussion of profiler output</u>](#profiler) 
- [Part 3: <u>Prediction challenge</u>](#prediction)
    - [2.1: <u>The expected revenue (gross)</u>](#gross)
    - [2.2: <u>IMDb score (score)</u>](#score) 
- [Part 4: <u>Exploratory component</u>](#explore)
    - [4.1: <u>Q1</u>](#q1)
    - [4.2: <u>Q2</u>](#q2)
- [Part 5: <u>Conclusion</u>](#conc)

In [1]:
#data analysis libraries 
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None

from pandas_profiling import ProfileReport

#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams['figure.figsize'] = (18, 8)
sns.set_theme()
from ipywidgets import interact

%matplotlib inline

---
<a id='intro'></a>
## Part 1: _<u>Introduction</u>_

We will be working with dataset obtained through kaggle called [Comprehensive IMDb Data](https://www.kaggle.com/austinwolff/comprehensive-imdb-data). The dataset contains movies released in the USA between 1980-2020 that has available box office data. The dataset was created with the intention of what features/variables contribute most to the movie's box office success. Below is the features list that are included in the dataset.

**Features**

* **titleId**: IMDb's relational database ID for "title".
* **title**: Title of the movie.
* **rating**: MPAA (Motion Picture Association of America film rating system ) rating. 
* **region**: Region. 
* **genre**: The movie genre.
* **released**: Release date of the movie in theaters.
* **year**: Year of movie release.
* **month**: Month of movie release.
* **day**: Day of movie release.
* **score**: IMDb score.
* **director**: Director of the movie.
* **writer**: Writer of the movie.
* **star**: Main actor and actress of the movie.
* **country**: Main country of the movie.
* **budget**: Budget of the movie.
* **gross**: Gross revenue (box office) of the movie.
* **company**: Production company of the movie.
* **runtime**: Runtime of the movie in minutes. 
* **category**: Type of the credit this person ("primaryName") had for working on the movie. 
* **nconst**: IMDb's relational database ID for "primaryName".
* **primaryName**: Name of person who worked on the movie.
* **knownForTitles**: Top 4 titles an actor (indicated by "primaryName") is known for, by titleID.

---
<a id='datavis'></a>
## Part 2: _<u>Data analysis and visualisation</u>_

---
<a id='prediction'></a>
## Part 3: _<u>Prediction challenge</u>_

<a id='gross'></a>
### 3.1: _<u>The expected revenue (gross)</u>_

<a id='score'></a>
### 3.2: _<u>IMDb score (score)</u>_

In [53]:
df, df_movies = preprocess('Comprehensive IMDb Data.csv')

C:\Users\hanlu\anaconda3\lib\site-packages\ipykernel_launcher.py:64: RuntimeWarning: Mean of empty slice

In [55]:
train

,title_year,titleId,title,rating,region,genre,released,year,month,day,...,runtime,primaryName,category,nconst,knownForTitles,months,Profit,released_2,continent,duration
0,American Gigolo_1980,"[tt0080365, tt4257262]",American Gigolo,R,US,Crime,1980-02-01,1980,February,1.0,...,117.0,"[Christopher M. Campos, Gretchen Mol, Hector E...","{'Jerry Bruckheimer': 'producer', 'Jon Berntha...","{'Jerry Bruckheimer': 'nm0000988', 'Jon Bernth...","{'Jerry Bruckheimer': 'tt0449088,tt0210945,tt0...",February,17.943674,0 1980\n1 1980\n2 1980\n3 ...,North America,Short
1,The Fog_1980,"[tt0014051, tt0058270, tt0080749, tt0432291, t...",The Fog,R,US,Horror,1980-02-08,1980,February,8.0,...,89.0,"[Adrienne Barbeau, Allison Minick, Annie Hamil...","{'Tarun Bose': 'actor', 'Madan Puri': 'actor',...","{'Tarun Bose': 'nm0097905', 'Madan Puri': 'nm0...","{'Tarun Bose': 'tt0057332,tt0247394,tt0349634,...",February,20.448782,0 1980\n1 1980\n2 1980\n3 ...,North America,Short
2,Cruising_1980,"[tt0080569, tt3696404, tt4828890]",Cruising,R,US,Crime,1980-02-15,1980,February,15.0,...,102.0,"[Al Pacino, Bud S. Smith, Gerald Walker, Jerry...","{'Karen Allen': 'actress', 'Gerald Walker': 'w...","{'Karen Allen': 'nm0000261', 'Gerald Walker': ...","{'Karen Allen': 'tt0088172,tt0082971,tt0077975...",February,8.814523,0 1980\n1 1980\n2 1980\n3 ...,Europe,Short
3,When Time Ran Out..._1980,[tt0081747],When Time Ran Out...,PG,US,Action,1980-03-28,1980,March,28.0,...,121.0,"[Carl Foreman, Edward Albert, Gordon Thomas, I...","{'Gordon Thomas': 'writer', 'Jacqueline Bisset...","{'Gordon Thomas': 'nm0858883', 'Jacqueline Bis...","{'Gordon Thomas': 'tt0162829,tt0075406,tt04046...",March,-16.236012,0 1980\n1 1980\n2 1980\n3 ...,North America,Long
4,Heaven's Gate_1980,"[tt0080855, tt11210146, tt12892296, tt14807362...",Heaven's Gate,R,US,Adventure,1980-04-24,1980,April,24.0,...,219.0,"[A. Marshal Ward, Alessandro Zangirolami, Barr...","{'Joe Ballew': 'actor', 'A. Marshal Ward': 'ac...","{'Joe Ballew': 'nm6007580', 'A. Marshal Ward':...","{'Joe Ballew': 'tt3774094,tt3317000,tt5609730,...",April,-40.515477,0 1980\n1 1980\n2 1980\n3 ...,North America,Long
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5299,Killing Zoe_1994,[tt0110265],Killing Zoe,R,US,Crime,NaT,1994,September,NaN,...,96.0,"[David Wasco, Eric Pascal Chaltiel, Eric Stolt...","{'Roger Avary': 'director', 'Samuel Hadida': '...","{'Roger Avary': 'nm0000812', 'Samuel Hadida': ...","{'Roger Avary': 'tt7248248,tt0110912,tt0110265...",September,-1.081039,0 1980\n1 1980\n2 1980\n3 ...,Europe,Short
5300,Cronos_1994,"[tt0104029, tt14811148, tt5692086, tt6056746]",Cronos,R,US,Fantasy,NaT,1994,May,NaN,...,94.0,"[Arthur Gorson, Austin Witt, Bertha Navarro, C...","{'Sandra Mitrovic': 'producer', 'Yu-Ting Lin':...","{'Sandra Mitrovic': 'nm5972991', 'Yu-Ting Lin'...","{'Sandra Mitrovic': 'tt6076042,tt2402157,tt102...",May,-1.378608,0 1980\n1 1980\n2 1980\n3 ...,North America,Short
5301,Getting It on_1983,[tt0085588],Getting It on,R,US,Comedy,NaT,1983,August,NaN,...,96.0,"[Heather Kennedy, Jeff Edmond, Kathy Brickmeie...","{'William Olsen': 'director', 'Heather Kennedy...","{'William Olsen': 'nm0003572', 'Heather Kenned...","{'William Olsen': 'tt0120173,tt0096770,tt00855...",August,0.755414,0 1980\n1 1980\n2 1980\n3 ...,North America,Short
5302,Penelope_2006,"[tt0060818, tt0472160, tt1119944, tt11646296, ...",Penelope,PG,US,Comedy,NaT,2006,February,29.0,...,104.0,"[Agustin Adba, Alex Legend, Alexa Servodidio, ...","{'Dick Shawn': 'actor', 'Scarlett Urbano': 'di...","{'Dick Shawn': 'nm0790071', 'Scarlett Urbano':...","{'Dick Shawn': 'tt0118688,tt0057193,tt0063462,...",February,6.156270,0 1980\n1 1980\n2 1980\n3 ...,Europe,Short
5303,Stormy Monday_1988,[tt0096180],Stormy Monday,R,US,Crime,NaT,1988,May,NaN,...,93.0,"[Andrew McAlpine, David Martin, Melanie Griffi...","{'Sean Bean': 'actor', 'Nigel Stafford-Clark':...","{'Sean Bean': 'nm0000293', 'Nigel Stafford-Cla...","{'Sean Bean': 'tt0944947,tt0167261,tt1181791,t...",May,-2.208672,0 1980\n1 1980\n2 1980\n3 ...,Europe,Short

In [59]:
train = df_movies.copy(deep=True)

In [61]:
train[feature]

0       [Christopher M. Campos, Gretchen Mol, Hector E...
1       [Adrienne Barbeau, Allison Minick, Annie Hamil...
2       [Al Pacino, Bud S. Smith, Gerald Walker, Jerry...
3       [Carl Foreman, Edward Albert, Gordon Thomas, I...
4       [A. Marshal Ward, Alessandro Zangirolami, Barr...
                              ...
5299    [David Wasco, Eric Pascal Chaltiel, Eric Stolt...
5300    [Arthur Gorson, Austin Witt, Bertha Navarro, C...
5301    [Heather Kennedy, Jeff Edmond, Kathy Brickmeie...
5302    [Agustin Adba, Alex Legend, Alexa Servodidio, ...
5303    [Andrew McAlpine, David Martin, Melanie Griffi...
Name: primaryName, Length: 5304, dtype: object

In [62]:
from collections import Counter
feature = 'primaryName'
train[feature]= train[feature].apply(lambda x:[g for g in x or []])
c = Counter(sum(train[feature], []))
most_30 = [x[0] for x in c.most_common(30)]
train['temp_30'] = train[feature].apply(lambda x: list(set(most_30) & set(x)))
dummies = pd.get_dummies(train['temp_30'].apply(pd.Series).stack(), prefix = feature).groupby(level=0).sum()

# Join back with the original dataframe 
train = train.join(dummies)#.fillna(0)
train.iloc[:,-30:] = train.iloc[:,29:].fillna(0)
train.drop(columns=['temp_30'], inplace=True)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [57]:
from collections import Counter
# Define function for binarization of columns with the top 30 most commen ones

def binary_features(train, features): 
    for feature in features:
        print(feature)
        # Extract information from dict and convert to list 
        train[feature]= train[feature].apply(lambda x:[x or []])

        # Finding top 30 most commen 
        c = Counter(sum(train[feature], []))
        most_30 = [x[0] for x in c.most_common(30)]

        # Removing the ones that are not in the top 30 
        train['temp_30'] = train[feature].apply(lambda x: list(set(most_30) & set(x)))

        # Creat dummies 
        dummies = pd.get_dummies(train['temp_30'].apply(pd.Series).stack(), prefix = feature).groupby(level=0).sum()

        # Join back with the original dataframe 
        train = train.join(dummies)
        train.iloc[:,-30:] = train.iloc[:,-30:].fillna(0)

        # Drop the temperary colum 
        train.drop(columns=['temp_30'], inplace=True)
    return train

# Finding and binarize the features with the top 30 most commen 
#df, df_movies = preprocess('Comprehensive IMDb Data.csv')
train = binary_features(df_movies, ['director','writer','star','country','company','primaryName'])

director
writer
star
country
company
primaryName

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [ ]:
train

---
<a id='explore'></a>
## Part 4: _<u>Exploratory component</u>_

---
<a id='conc'></a>
## Part 5: _<u>Conclusion</u>_

# Appendix

## Preprocess function

In [4]:
def preprocess(path):
    df = pd.read_csv(path)

    ## create unique identifier of each movie 
    df['title_year'] = df['title'] + '_' + df['year'].astype(str)
    ## create profit column
    df['Profit'] = df['gross'] - df['budget']

    #########################################################################################
    ## create new compact datarfame
    ## extract list of unique movie titles 
    #titles=list(set(df['title']))
    title_year_set = list(set(df['title_year']))

    # Create a dataframe where each row is a unique movie 
    movies={}
    for t in title_year_set:
        # Create a temperary datframe for subset of with title_year = t
        df_temp = df[df.title_year == t]

        # Extracting all the unique values for the attributes for the given title_year t
        star = np.unique(df_temp['star'])
        writer = np.unique(df_temp['writer'])
        director = np.unique(df_temp['director'])
        title = np.unique(df_temp['title'])
        rating = np.unique(df_temp['rating'])
        genre =np.unique(df_temp['genre'])
        released = np.unique(df_temp['released'])
        year = np.unique(df_temp['year'])
        month = np.unique(df_temp['month'])
        day = np.unique(df_temp['day'])
        score = np.unique(df_temp['score'])
        country = np.unique(df_temp['country'])
        budget = np.unique(df_temp['budget'])
        gross = np.unique(df_temp['gross'])
        company = np.unique(df_temp['company'])
        runtime = np.unique(df_temp['runtime'])
        region = np.unique(df_temp['region'])
        titleId = np.unique(df_temp['titleId'])
        primaryName = np.unique(df_temp['primaryName'])

        # Extract attributes which are based on primaryName and then as dictionaries
        cat = {}
        ncon = {}
        prim = {}
        known = {}
        for index, row in df[df.title_year == t].iterrows():
            pN = row['primaryName']
            cat[pN] = row['category']
            ncon[pN] = row['nconst']
            known[pN] = row['knownForTitles']

        movie = {'titleId': titleId, 'title':title, 'rating':rating, 'region':region, 'genre': genre, 'released': released, 'year':year,
        'month':month, 'day':day, 'score':score, 'director':director, 'writer':writer, 'star':star, 'country':country,
        'budget':budget, 'gross':gross, 'company':company, 'runtime': runtime, 'primaryName':primaryName, 'category':cat, 'nconst':ncon, 'knownForTitles':known}
        movies[t]=movie
    
    # Construct dataframe 
    d=pd.DataFrame(movies)
    df2=d.transpose()

    df_movies = df2.copy()
    # Finding one value for budget for each title_year
    df_movies['budget'] = df_movies['budget'].apply(lambda x: x if len(x) == 1 else [np.nanmean(x)])

    # Unpack array
    col_unpack = ['title', 'rating', 'region', 'genre', 'released', 'year', 'month',
        'day', 'score', 'director', 'writer', 'star', 'country', 'budget',
        'gross', 'company', 'runtime']
        
    for col in col_unpack:
        df_movies[col] = [i[0] for i in df_movies[col]]

    #############################################################################
    ## Data cleaning

    # Drop missing values in budget
    df_movies = df_movies.dropna(subset=['budget'])
    # Dealing with missing values in rating
    df_movies['rating'].fillna("Not Rated", inplace = True) 
    df_movies['rating'] = df_movies['rating'].replace(['Unrated'],'Not Rated')
    df_movies.fillna({'country':df_movies.country.mode().astype(str)[0],
    'company':df_movies.company.mode().astype(str)[0],'runtime':df_movies.runtime.median()},inplace=True)

    df_movies = df_movies.dropna(subset=['month'])

    df_movies['released'] = pd.to_datetime(df_movies['released'],format='%Y-%m-%d')
    df_movies = df_movies.sort_values(by= ['released'])

    # Chagne type of month
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    df_movies['months'] = pd.Categorical(df_movies['month'], categories=months, ordered=True)

    # Convert the gross and budget from $ to Million $ 
    df_movies['gross'] = df_movies['gross']/1000000
    df_movies['budget'] = df_movies['budget']/1000000

    df_movies = df_movies.reset_index().rename(columns = {'index':'title_year'})

    ####################################################################################
    ## add new features to df_movies

    df_movies['Profit'] = df_movies['gross'] - df_movies['budget']

    ## we will create new column called released_2 that only consists of year and month information of movie release
    df_movies['released_2'] = str(df_movies['year']) + '_' + str(df_movies['month'])

    df_movies['country'] = df_movies['country'].replace(['West Germany'],'Germany')
    df_movies['country'] = df_movies['country'].replace(['Yugoslavia'],'Serbia')
    df_movies['country'] = df_movies['country'].replace(['Federal Republic of Yugoslavia'],'Serbia')

    df_movies['continent'] = df_movies['country'].apply(country_to_continent)

    # Create duration column
    df_movies['duration'] = df_movies['runtime'].apply(duration)

    return df,df_movies

## Helper functions

In [2]:
import pycountry_convert as pc

def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name

def duration(x):
    if x <= 120:
        return 'Short'
    else:
        return 'Long'